asyncio
cv2
deep-translator
eel
hugchat
io
json
multiprocessing
os
pipes
playsound
pyautogui
pyttsx3
pywhatkit
requests
re
spotipy
speechrecognition
sqlite3
subprocess
time
webbrowser
wikipedia
wolframalpha
